mixin about
    section#about.scrollspy.section.section-about
        .container
            .row
                .col.s12.m6.l4
                    .z-depth-5.background-img-custom
                .col.s12.m6.l8
                    .card-panel.z-depth-5.grey.lighten-1
                        h3.center 
                            span.orange-text.text-darken-1 За 
                            | Мен
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam quisquam aspernatur tempora consequatur perferendis exercitationem, sequi laborum quod accusamus! Cum praesentium vero nesciunt pariatur quasi veniam vel atque hic maiores.
                        .center
                            a.btn.btn-large.z-depth-5.orange-text.text-darken-4.btn-custom(href="/about") Научи повече