mixin achievement
    section#my-way.scrollspy.section.section-my-way.grey.darken-4
        .container
            .row
                .col.s12.m12.center
                    h4.center.white-text
                        span.orange-text Какво постигнах 
                        | в последния месец
                    .chart-container
                        canvas#chart.grey
                    a.btn.btn-large.z-depth-5.grey.orange-text.text-darken-4.btn-custom(href="/achievement") Научи повече