mixin gallery
    section#gallery.scrollspy.section.section-gallery
        .container
            .row
                .col.s12.m6.l3
                    .card-panel
                        img.responsive-img.materialboxed(src="static/img/gallery/fitness.jpeg", alt="Fitness")
                .col.s12.m6.l3
                    .card-panel
                        img.responsive-img.materialboxed(src="static/img/gallery/training.jpeg", alt="Training")
                .col.s12.m6.l3
                    .card-panel
                        img.responsive-img.materialboxed(src="static/img/gallery/yoga.jpeg", alt="Yoga")
                .col.s12.m6.l3
                    .card-panel
                        img.responsive-img.materialboxed(src="static/img/gallery/leg-day.jpeg", alt="Leg Day")