<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        script(defer src="libs/@fortawesome/fontawesome-free/js/all.min.js")
        link(rel="stylesheet", href="libs/materialize-css/dist/css/materialize.min.css")
        link(rel="stylesheet", href="static/css/style.css")
        title myFitness
    body.grey.lighten-2
        block body
        