mixin navigation
    nav.navbar-custom
        .container
            .nav-wrapper
                a.brand-logo(href="/") 
                    span.orange-text my
                    | Fitness
                a.sidenav-trigger(href="#" data-target="mobile-nav")
                    i.fa.fa-bars
                ul.right.hide-on-med-and-down
                    li
                        a(href="#home") Начало
                    li
                        a(href="#about") Кой съм аз
                    li
                        a(href="#my-way") Моят път
                    li
                        a(href="#gallery") Галерия
                    li
                        a(href="#contact") За контакт
