mixin navigation(links)
    nav.navbar-custom
        .container
            .nav-wrapper
                a.brand-logo(href="/") 
                    span.orange-text my
                    | Fitness
                a.sidenav-trigger(href="#" data-target="mobile-nav")
                    i.fa.fa-bars
                ul.right.hide-on-med-and-down
                    each link in links
                        li
                            a(href=link.link)
                                =link.name
