mixin scripts(results)
    script(src="libs/materialize-css/dist/js/materialize.min.js")
    script(src="static/js/main.js")
    if !isAbout
        script(src="libs/chart.js/dist/chart.min.js")
        script.
            const results = !{JSON.stringify(results)};
        script(src="static/js/chart.js")