mixin sidenav(links)
    ul#mobile-nav.sidenav.grey.lighten-2
        li
            .user-view
                .background.orange
                a(href="about")
                    img.circle(src="static/img/about.jpeg")
                a(href="about")
                    span.white-text.name John Doe
                a(href="about")
                    span.white-text.email jdoe@gmail.com
        each link in links
            li
                a(href=link.link) 
                    =link.name